@model IEnumerable<Booking>

@{
    ViewData["Title"] = "Bookings Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/BookingStyle.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}

@if (Model.Any())
{
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Full Name</th>
                <th>Room Type</th>
                <th>Room Number</th>
                <th>Check-In</th>
                <th>Check-Out</th>
                <th>Price</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Id</td>
                    <td>@booking.User.FullName</td>
                    <td>@booking.Room.RoomTypeId</td>
                    <td>@booking.Room.RoomNumber</td>
                    
                    <td>@booking.CheckInDate.ToShortDateString()</td>
                    <td>@booking.CheckOutDate.ToShortDateString()</td>
                    <td>@booking.Price.ToString("C")</td>
                    <td>@booking.Status</td>
                    <td>@booking.CreatedAt.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger">
        No bookings found
    </div>
}
