@using Bookify_Hotel_Reservation_System__DAL.Models
@model IEnumerable<Room>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/LayoutStyle.css" />
}

@if (Model.Count()>0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Room Number</td>
                <td>Room Type</td>
                <td>Room Description</td>
                <td>Price per Day</td>
                <td>Is Available</td>
            </tr>
        </thead>
        <tbody>
                <tr>
                    @foreach(var room in Model)
                    {
                        <td>@room.RoomNumber</td>
                        <td>@room.RoomType</td>
                        <td>@room.Description</td>
                        <td>@room.PricePerNight</td>
                        <td>@room.IsAvailable</td>
                    }
                </tr>
        </tbody>
    </table>
    
}
else
{
    <div class="alert alert-danger">
        No rooms
    </div>
}

